@font-face {
    font-family: logo-norse;
    src: url(fonts/Norse-Bold.otf);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid red;
}

main {
    border: 2px solid blue;
}

input {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
